{% extends "base.html" %}
{% load static %}


{% block css %}
<link href = "{% static 'css/style.css'%}" />
{% endblock %}


{% block content %}


      
<!-- Main Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
        <div class="row g-4">
          <!-- Example Video Card -->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/3JluqTojuME/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">Learn HTML in 10 Minutes</div>
              <div class="channel-name">Web Dev</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/JJSoEo8JSnc/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">CSS Flexbox Tutorial</div>
              <div class="channel-name">Code With Me</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/tgbNymZ7vqY/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">Build a YouTube Clone</div>
              <div class="channel-name">Dev Diary</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/PkZNo7MFNFg/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">JavaScript Crash Course</div>
              <div class="channel-name">LearnJS</div>
            </div>
          </div>
          <!-- Add more cards as desired -->
        </div>
      </main>

      <!-- Main Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
        <div class="row g-4">
          <!-- Example Video Card -->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/3JluqTojuME/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">Learn HTML in 10 Minutes</div>
              <div class="channel-name">Web Dev</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/JJSoEo8JSnc/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">CSS Flexbox Tutorial</div>
              <div class="channel-name">Code With Me</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/tgbNymZ7vqY/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">Build a YouTube Clone</div>
              <div class="channel-name">Dev Diary</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/PkZNo7MFNFg/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">JavaScript Crash Course</div>
              <div class="channel-name">LearnJS</div>
            </div>
          </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/PkZNo7MFNFg/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">JavaScript Crash Course</div>
              <div class="channel-name">LearnJS</div>
            </div>
          </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/PkZNo7MFNFg/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">JavaScript Crash Course</div>
              <div class="channel-name">LearnJS</div>
            </div>
          </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/PkZNo7MFNFg/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">JavaScript Crash Course</div>
              <div class="channel-name">LearnJS</div>
            </div>
          </div>

           <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/tgbNymZ7vqY/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">Build a YouTube Clone</div>
              <div class="channel-name">Dev Diary</div>
            </div>
          </div>


           <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/tgbNymZ7vqY/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">Build a YouTube Clone</div>
              <div class="channel-name">Dev Diary</div>
            </div>
          </div>

           <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/tgbNymZ7vqY/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">Build a YouTube Clone</div>
              <div class="channel-name">Dev Diary</div>
            </div>
          </div>
           <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/3JluqTojuME/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">Learn HTML in 10 Minutes</div>
              <div class="channel-name">Web Dev</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/JJSoEo8JSnc/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">CSS Flexbox Tutorial</div>
              <div class="channel-name">Code With Me</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/tgbNymZ7vqY/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">Build a YouTube Clone</div>
              <div class="channel-name">Dev Diary</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/PkZNo7MFNFg/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">JavaScript Crash Course</div>
              <div class="channel-name">LearnJS</div>
            </div>
          </div> <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/3JluqTojuME/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">Learn HTML in 10 Minutes</div>
              <div class="channel-name">Web Dev</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/JJSoEo8JSnc/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">CSS Flexbox Tutorial</div>
              <div class="channel-name">Code With Me</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/tgbNymZ7vqY/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">Build a YouTube Clone</div>
              <div class="channel-name">Dev Diary</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/PkZNo7MFNFg/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">JavaScript Crash Course</div>
              <div class="channel-name">LearnJS</div>
            </div>
          </div>
           <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/3JluqTojuME/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">Learn HTML in 10 Minutes</div>
              <div class="channel-name">Web Dev</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/JJSoEo8JSnc/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">CSS Flexbox Tutorial</div>
              <div class="channel-name">Code With Me</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/tgbNymZ7vqY/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">Build a YouTube Clone</div>
              <div class="channel-name">Dev Diary</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/PkZNo7MFNFg/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">JavaScript Crash Course</div>
              <div class="channel-name">LearnJS</div>
            </div>
          </div>
           <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/3JluqTojuME/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">Learn HTML in 10 Minutes</div>
              <div class="channel-name">Web Dev</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/JJSoEo8JSnc/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">CSS Flexbox Tutorial</div>
              <div class="channel-name">Code With Me</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/tgbNymZ7vqY/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">Build a YouTube Clone</div>
              <div class="channel-name">Dev Diary</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="video-card p-2">
              <img src="https://i.ytimg.com/vi/PkZNo7MFNFg/maxresdefault.jpg" alt="Video thumbnail">
              <div class="video-title">JavaScript Crash Course</div>
              <div class="channel-name">LearnJS</div>
            </div>
          </div>
          <!-- Add more cards as desired -->
        </div>
      </main>
{% endblock %}